@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  
  --gradient-text: linear-gradient(45.97deg, #9BD9B2 3.16%, #031B34 45.84%);
  
  --gradient-bar: linear-gradient(103.22deg, #9BD9B2 -13.86%%, #031B34 99.55% );

  --color-bg: #9BD9B2;
  --color-footer : #031B34;
  --color-blog: #4A858B;
  --color-text: #394057;
  --color-subtext: #FFFFFF;
  --brand-color: #9BD9B2;
  --dark-color: #394057;
  --mid-color: #4A858B;
  --light-color: #FFFFFF;
    }